!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Mozilla's new technologies

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/marvel.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 Mozilla's new technologies
        h2.lowercase <a href="http://soledadpenades.com/files/t/mozilla-power-13-new-technologies">http://bit.ly/MP13tech</a>


      section
        h2 <a href="http://soledadpenades.com">Soledad Penadés</a>
        h3.bullet Apps Engineer at <a href="http://mozilla.org">Mozilla</a>
        ul
          li <a href="https://twitter.com/supersole">@supersole</a> in Twitter
          li #apps in irc.mozilla.org

      section
        h1.bullet 2013
        h2.bullet We've been busy

      section
        h1.bullet Firefox
        h2.bullet Better
        h2.bullet Safer
        h2.bullet Faster

      section
        h1.bullet Firefox
        h2.bullet Support for more Web APIs
        ul
          li Web Audio
          li WebRTC

      section
        h1.bullet Firefox
        h2.bullet Better CSS
        ul
          li CSS variables
          li Flex layout
          li <a href="https://hacks.mozilla.org/2013/01/firefox-development-highlights-h-264-mp3-support-on-windows-scoped-stylesheets-more/">Scoped style attribute, @supports</a>
          li Background fixed

      section
        h1.bullet Firefox
        h2.bullet More HTML5 elements
        ul
          li <a href="https://hacks.mozilla.org/2013/03/font-inspector-and-elements-firefox-development-highlights/">&lt;time&gt;</a>
          li <a href="https://hacks.mozilla.org/2013/03/font-inspector-and-elements-firefox-development-highlights/">&lt;data&gt;</a>
          li <a href="https://jwatt.org/blog/2013/03/20/input-type-range-coming-to-mozilla">&lt;input type=range&gt;</a>
          li <a href="https://jwatt.org/2013/12/11/input-type-number-coming-to-mozilla">&lt;input type=number&gt;</a>

       section
        h1.bullet Firefox
        h2.bullet Web Components work
        ul
          li &lt;template&gt;
          li document.register
          li Shadow DOM (under development)

      section
        h1.bullet Firefox
        h2.bullet Better DevTools
        ul
          li Improved debugger (remote! blackboxing! sourcemaps!)
          li Better inspectors (edit HTML, autocomplete CSS, inspect fonts...)
          li Color and image previews
          li Network monitor (with filters!)
          li Easier profiling
          li Reflow logging
          li ...

      section
        h1.bullet Firefox
        h2.bullet Safer
        ul
          li <a href="https://hacks.mozilla.org/2013/05/content-security-policy-1-0-lands-in-firefox-aurora/">CSP support</a>
          li <a href="https://blog.mozilla.org/tanvi/2013/04/10/mixed-content-blocking-enabled-in-firefox-23/">Mixed Content Blocking</a>
          li <a href="https://blog.mozilla.org/futurereleases/2013/09/24/plugin-activation-in-firefox/">Click to activate plugin</a>

      section
        h1.bullet Firefox
        h2.bullet Faster
        ul
          li <a href="https://blog.mozilla.org/luke/2013/03/21/asm-js-in-firefox-nightly/">asm.js support</a>
          li <a href="http://getaustralis.com/">Australis</a> (formerly Firefox UX) baked into Nightlies
      section
        h1.bullet Firefox for Android
        h2.bullet Beats the rest
        ul
          li Raving reviews in <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox">Google Play Store</a>
          li Mobile features: guest mode, read later...
          li Faster than ever
          li <a href="https://blog.mozilla.org/blog/2013/11/07/firefox-for-android-included-on-new-devices-to-bring-an-amazing-web-experience-to-users/">Preinstalled</a> in Kobo and Gigabyte devices

      section
        h1.bullet Firefox OS
        h2.bullet The web is the platform
        ul
          li Launched in 2013
          li 3 devices, 14 countries
          li More to come

      section
        h1.bullet Firefox OS
        h2.bullet Open Web Apps
        ul
          li Introduce new Web APIs
          li Support new Web Standards
          li Everything is JavaScript!


      section
        h1.bullet WebRT
        h2.bullet Cross-platform Open Web Apps
        ul
          li Firefox
          li Firefox for Android
          li Firefox OS
          li ???
          li Example <a href="http://www.youtube.com/watch?v=4rWYjN-ShOw">video</a>

      section
        h1.bullet <a href="http://mozilla.github.io/brick/">Brick</a>
        h2.bullet UI Web Components for Modern Web Apps
        ul
          li Build apps fast and concisely!
          li Using <a href="http://x-tags.org/">x-tag</a>

      section
        h1.bullet <a href="http://mozilla.github.io/brick/">localForage</a>
        h2.bullet Offline storage, improved
        ul
          li Make it easier to write performant offline-capable apps
          li Async and fast via IndexedDB
          li Fallback to localStorage

      section
        h1.bullet <a href="https://location.services.mozilla.com">Location Service</a>
        h2.bullet Crowdsourced Geolocation
        ul
          li Gather public data
          li <a href="https://github.com/mozilla/MozStumbler/releases">MozStumbler</a>

      section
        h1.bullet <a href="http://asmjs.org/">asm.js</a>
        h2.bullet fast, low-level JS subset
        ul
          li compatible with all browsers
          li "Turbo enabled" in Firefox - near native speed!
          li Example: <a href="https://github.com/kripken/BananaBread/">Banana Bread</a>

      section
        h1.bullet <a href="http://mozilla.github.io/shumway/">Shumway</a>
        h2.bullet Flash, in JS
        ul
          li
            em Are we Flash yet?
          li Example: <a href="http://mozilla.github.io/shumway/examples/inspector/inspector.html?rfile=../Box2DFlashAS3/demo.swf">Box2D demo.swf</a>

      section
        h1.bullet ES6 "advance"
        h2.bullet The future is here
        ul
          li Destructuring
          li New operators
          li More functional
          li Generators
          li Defaults
          li Modules
          li See <a href="https://speakerdeck.com/anguscroll/es6-uncensored">this presentation</a> by Angus Croll

      section
        h1.bullet <a href="http://www.rust-lang.org/">Rust</a>
        h2.bullet A new language that is...
        ul
          li safe
          li concurrent
          li practical
          li Example: <a href="https://github.com/mozilla/servo">Servo</a> parallel browser


      section
        h1.bullet <a href="https://blog.mozilla.org/blog/2013/10/25/lightbeam-for-firefox-privacy-education-for-users-open-data-for-publishers/">Lightbeam</a>
        h2.bullet Who's tracking you?
        ul
          li Firefox add-on
          li Visualise cookies and similar
          li About one million downloads


      section
        h1.bullet <a href="https://togetherjs.com/">Together.JS</a>
        h2.bullet Turn any website into a collaborative experience

      section
        h1.bullet <a href="https://webmaker.org/">Webmaker</a>
        h2.bullet Teaching the web
        ul
          li <a href="https://thimble.webmaker.org/en-US">Thimble</a> - create
          li <a href="https://goggles.webmaker.org/en-US">Goggles</a> - inspect
          li <a href="https://popcorn.webmaker.org/en-US/editor/">PopCorn</a> - mix &amp; remix

      section
        h1.bullet <a href="http://appmaker.mozillalabs.com/">AppMaker</a>
        h2.bullet Build apps - visually!
        ul
          li <a href="http://www.youtube.com/watch?v=RaRIdLgZTPI">Demo video</a>


      section
        h1 Thank you!
        h2 <a href="http://soledadpenades.com">Soledad Penadés</a>
        h2 <a href="https://twitter.com/supersole">@supersole</a>
        h2 sole@mozilla.com


      
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
